## Print pattern

In [1]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

### Check Palindrome Number

In [2]:
def palindrome(number):
    print("original number", number)
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

num = int(input("Enter a Number: "))
palindrome(num)

Enter a Number: 10
original number 10
Given number is not palindrome

## Write a Program to extract each digit from an integer in the reverse order.

In [3]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

## Display float number with 2 decimal places using print()

In [4]:
num = 458.541315
print('%.2f' % num)

458.54

## Accept a list of 5 float numbers as an input from the user

In [5]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
55
Enter number at location 1 :
12
Enter number at location 2 :
12
Enter number at location 3 :
55
Enter number at location 4 :
556
User List: [55.0, 12.0, 12.0, 55.0, 556.0]

## Accept any three string from one input() call

In [6]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringebin antony pd
Name1: ebin
Name2: antony
Name3: pd

## Display Fibonacci series up to 10 terms

In [7]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

## Find the factorial of a given number

In [8]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

## Calculate the cube of all numbers from 1 to a given number

In [9]:
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

## Find the largest item from a given list

In [10]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

## Create a string made of the first, middle and last character

In [11]:
str1 = 'James'
print("Original String is", str1)
# Get first character
res = str1[0]
# Get string size
l = len(str1)
# Get middle index number
mi = int(l / 2)
# Get middle character and add it to result
res = res + str1[mi]
# Get last character and add it to result
res = res + str1[- 1]
print("New String:", res)

Original String is James
New String: Jms

## Create a string made of the middle three characters

In [12]:
def get_middle_three_chars(str1):
    print("Original String is", str1)

    # first get middle index number
    mi = int(len(str1) / 2)

    # use string slicing to get result characters
    res = str1[mi - 1:mi + 2]
    print("Middle three chars are:", res)
    
str1 = str(input("Enter String"))

get_middle_three_chars(str1)

Enter Stringebin
Original String is ebin
Middle three chars are: bin

## Count all letters, digits, and special symbols from a given string

In [13]:
def append_middle(s1, s2):
    print("Original Strings are", s1, s2)

    # middle index number of s1
    mi = int(len(s1) / 2)

    # get character from 0 to the middle index number from s1
    x = s1[:mi:]
    # concatenate s2 to it
    x = x + s2
    # append remaining character from s1
    x = x + s1[mi:]
    print("After appending new string in middle:", x)

append_middle("Ault", "Kelly")

Original Strings are Ault Kelly
After appending new string in middle: AuKellylt

## Reverse a given string

In [14]:
str1 = "Ebin"
print("Original String is:", str1)

str1 = str1[::-1]
print("Reversed String is:", str1)

Original String is: Ebin
Reversed String is: nibE

In [15]:
str1 = "Ebin"
print("Original String is:", str1)

str1 = ''.join(reversed(str1))
print("Reversed String is:", str1)

Original String is: Ebin
Reversed String is: nibE

## Split a string on hyphens

In [16]:
str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

## Remove empty strings from a list of strings

In [17]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
res_list = []
for s in str_list:
    # check for non empty string
    if s:
        res_list.append(s)
print(res_list)

['Emma', 'Jon', 'Kelly', 'Eric']

In [18]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [19]:
import re # Regex Replace Pattern in a string using re.sub()

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

## Remove and add item in a list

In [20]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Slice list into 3 equal chunks

In [21]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print("Original list ", sample_list)

length = len(sample_list)
chunk_size = int(length / 3)
start = 0
end = chunk_size

# run loop 3 times
for i in range(3):
    # get indexes
    indexes = slice(start, end)
    
    # get chunk
    list_chunk = sample_list[indexes]
    print("Chunk ", i, list_chunk)
    
    start = end
    end += chunk_size

Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
Chunk  0 [11, 45, 8]
Chunk  1 [23, 14, 12]
Chunk  2 [78, 45, 89]

## Create a Python set such that it shows the element from both lists in a pair

In [22]:
first_list = [2, 3, 4, 5, 6, 7, 8]
print("First List ", first_list)

second_list = [4, 9, 16, 25, 36, 49, 64]
print("Second List ", second_list)

result = zip(first_list, second_list)
result_set = set(result)
print(result_set)

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

## Find the intersection (common) of two sets and remove those elements from the first set

In [23]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

intersection = first_set.intersection(second_set)
print("Intersection is ", intersection)
for item in intersection:
    first_set.remove(item)

print("First Set after removing common element ", first_set)

First Set  {65, 42, 78, 83, 23, 57, 29}
Second Set  {67, 73, 43, 48, 83, 57, 29}
Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}